@using Jmelosegui.Mvc.GoogleMap
@{
    ViewBag.Title = "Restaurants in your area";
}

<h2>@ViewBag.Title</h2>

<div id="mapContainer">
    @Html.Partial("~/Views/GoogleMaps/_GetCurrentLocationPartial.cshtml")
</div>

@section Scripts {
    @(Html.GoogleMap().ScriptRegistrar(scripts =>
    {
        scripts.Add("jmelosegui.googlemap.js");
        scripts.Add("custom-google-map.js");
    }))
}
